<div class="adm_home_container">
    <div class="title">File Uploader tool</div>
    <div class="subtitle">Upload all your files to the <b>images/uploads/</b> repository for later use in administration section.</div>
    <form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
            <div id="drop">
                Drop Here

                <a>Browse</a>
                <input type="file" name="upl" multiple />
            </div>

            <ul>
                <!-- The file uploads will be shown here -->
            </ul>

        </form>
</div>