<div class="head_container">
    <div class="head_content">
        <div class="head_title">
            Test Bench User Interface
        </div>
        <div class="head_logo">
            <img src="images/logo_ge.png">
        </div>
        <div class="head_userinfo hidden">
            <div class="info">
                <div class="sso_user">4568A5454</div>
                <div class="role_user">Repair</div>
            </div>
            <div class="logo_user">
                <img src="images/user_logo.png">
            </div>
        </div>
        <div class="exit_role bouton hidden" data-link="role">
            <img src="images/door-exit.png">
        </div>
        <div class="connexion_states">
            <ul>
                <li id="PIC_statut"><img src="images/voyant_off.png"> PIC</li>
                <li id="GW_statut"><img src="images/voyant_off.png"> GW</li>
                <li id="CAN_statut">
                    <img class="voyant_off" src="images/voyant_off.png"> 
                    <img class="voyant_on" src="images/voyant_on.png"> 
                    CAN UI
                </li>
            </ul>
        </div>
<!--        <div class="exit_bloc hidden">
            <img src="images/exit.png">
        </div>-->
    </div>
</div>